.itemDataRow {
    width: auto;
    border-top: 1px solid black;
    display: flex;
    padding: 4px 0px 4px 9px;
    height: auto;
}
.last-child {
    border-bottom: 1px solid black;
}
img {
    border: 1px solid black;
    padding: 6px;
    border-radius: 3px;
}
.itemDataRow-name {
    width: 65%;
}
.itemDataRow-fav {
    width: 15%;
}
.itemDataRow-del {
    width: 15%;
}